.spinner{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.spinning{
    animation: spinner 1s infinite;
} 

@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}